
<h1>Transaction Details for <%= title %>
</h1>
<% if (error) { %>
    <p class="error">
        <%= error %>
    </p>
    <% } else { %>
        <p>Total Received: <%= totalReceived %>
        </p>
        <p>Total Expense: <%= totalLoss %>
        </p>
        <p>Remaining Amount: <%= remainingAmount %>
        </p>
        <h2>Transactions</h2>
        <% Object.keys(transactionsByDay).forEach(date=> { %>
            <h3>
                <%= date %>
            </h3>
            <p>Total Received: <%= transactionsByDay[date].totalReceived %>
            </p>
            <p>Total Expense: <%= transactionsByDay[date].totalLoss %>
            </p>
            <p>Remaining Amount: <%= transactionsByDay[date].remainingAmount %>
            </p>
            <div class="grid-container">
                <% transactionsByDay[date].transactions.forEach(transaction=> { %>
                    <div class="grid-item">
                        <strong>Type:</strong>
                        <%= transaction.transaction_type %><br>
                            <strong>Amount:</strong>
                            <%= transaction.amount %><br>
                                    <strong>Category:</strong>
                                    <%= transaction.category %>
                    </div>
                    <% }) %>
            </div>
            <% }) %>
                <% } %>