
<h1>Welcome, <%= user.user_name %>!</h1>

<% if (error) { %>
  <p class="error">
    <%= error %>
  </p>
  <% } %>

    <div class="summary-container">
      <h2>Lifetime Summary</h2>
      <p><strong>Total Received:</strong>
        <%= totalReceived %>
      </p>
      <p><strong>Total Expense:</strong>
        <%= totalLoss %>
      </p>
      <p><strong>Remaining Amount:</strong>
        <%= remainingAmount %>
      </p>
    </div>

    <div class="summary-container">
      <h2>Current Month Summary</h2>
      <p><strong>Total Received:</strong>
        <%= totalReceivedMonth %>
      </p>
      <p><strong>Total Expense:</strong>
        <%= totalLossMonth %>
      </p>
      <p><strong>Remaining Amount:</strong>
        <%= remainingAmountMonth %>
      </p>
    </div>

    <div class="button-container">
      <a href="/transaction_form">
        <button type="button">Add Transaction</button>
      </a>
      <a href="/history">
        <button type="button">History</button>
      </a>
    </div>